
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Duis bibendum dignissim magna. Fusce at lacus sit amet urna ornare sodales
        sit amet non dui. Integer eget ligula sed felis gravida dapibus nec dapibus enim.
        Suspendisse finibus sem id est semper maximus. Praesent vitae lobortis nibh.
        Aliquam a finibus leo. Nulla urna enim, varius eu enim nec,
        dictum lobortis ante. Aenean tincidunt vitae magna sit amet tincidunt.
        Ut porta dapibus lacus, sit amet condimentum elit bibendum id.
        Etiam egestas orci sit amet enim blandit pulvinar.
    </p>
</div>
