<div class="container">
    <div class="justify-content-between">
        <div class="float-left">&copy; @DateTime.Now.Year - Andrew Barbour</div>
        <div class="float-right">
            <div>
                @* Link to website source *@
                <a class="text-dark" href="https://github.com/Andy260/coder-andy" target="_blank">
                    <i class="fas fa-code"></i> <text>Source</text>
                </a>
                &nbsp;

                @* Link To GitHub profile *@
                <a class="text-dark" href="https://www.github.com/Andy260" target="_blank">
                    <i class="fab fa-github"></i> <text>Github</text>
                </a>
                &nbsp;

                @* Link to Bitbucket profile *@
                <a class="text-dark" href="https://www.bitbucket.com/Andy260" target="_blank">
                    <i class="fab fa-bitbucket"></i><text>Bitbucket</text>
                </a>
            </div>
        </div>
    </div>
</div>
