@{ 
    // Set page title
    string title = ViewData["Title"] as string;
    if (string.IsNullOrEmpty(title))
    {
        title = "Coder-Andy";
    }
    else
    {
        title = string.Format("{0} - Coder-Andy", title);
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@title</title>

    <environment include="Development">
        @* Bootstrap *@
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

        @* Site *@
        <link rel="stylesheet" href="~/css/site.css" />

        @* Font Awesome *@
        <script src="~/lib/fontawesome-free/js/solid.js"></script>
        <script src="~/lib/fontawesome-free/js/brands.js"></script>
        <script src="~/lib/fontawesome-free/js/fontawesome.js"></script>
    </environment>
    <environment exclude="Development">
        @* Bootstrap *@
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha256-eSi1q2PG6J7g7ib17yAaWMcrr5GrtohYChqibrV7PBE=" />

        @* Font Awesome *@
        <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/solid.js"
                asp-fallback-src="~/lib/fontawesome-free/js/solid.js"
                integrity="sha384-6FXzJ8R8IC4v/SKPI8oOcRrUkJU8uvFK6YJ4eDY11bJQz4lRw5/wGthflEOX8hjL"
                crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/brands.js"
                asp-fallback-src="~/lib/fontawesome-free/js/brands.js"
                integrity="sha384-zJ8/qgGmKwL+kr/xmGA6s1oXK63ah5/1rHuILmZ44sO2Bbq1V3p3eRTkuGcivyhD"
                crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/fontawesome.js"
                asp-fallback-src="~/lib/fontawesome-free/js/fontawesome.js"
                integrity="sha384-xl26xwG2NVtJDw2/96Lmg09++ZjrXPc89j0j7JHjLOdSwHDHPHiucUjfllW0Ywrq"
                crossorigin="anonymous"></script>

        @* Site *@
        <link rel="stylesheet" href="~/css/site.min.css" />
    </environment>
</head>
<body>
    <header>
       <partial name="_NavBar" />
    </header>
    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <partial name="_Footer" />
    </footer>

    <environment include="Development">
        @* jQuery scripts *@
        <script src="~/lib/jquery/dist/jquery.js"></script>
        @* Bootstrap scripts *@
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>

        @* Site *@
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        @* jQuery scripts *@
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>

        @* Bootstrap scripts *@
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha256-E/V4cWE4qvAeO5MOhjtGtqDzPndRO1LBk8lJ/PR7CA4=">
        </script>

        @* Site *@
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
